@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


body {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #eee !important;
}
a{
	text-decoration: none;
	color:black;
}
.cFont{
	font-weight: normal;
	font-size: 13px;
	color:#00BCD4;  
}

.wranTxt{
	font-size: 13px;  
	color: #E91E63;
	text-align: center;
}
    