@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


body {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #eee !important;
	color:#333;
}
a{
	text-decoration: none;
	color:black;
	color:#333;
}
.txtCenter{
	text-align: center;
} 
.cFont_white{
	color:#fff;
}
.cFont{
	font-weight: normal;
	font-size: 13px;
	color:#00BCD4;  
}
.cFont_gray{ 
	color:#757575;            
}
.wranTxt{
	font-size: 13px;  
	color: #E91E63;
	text-align: center;
}
 .border_left{
 	border-left: 1px solid; 
 	border-color: #B2EBF2;  
 }
 .border_right{ 
 	border-right: 1px solid; 
 	border-color: #B2EBF2;  
 }
 .arr{ 
 	color: #0097A7;
 	font-style: normal; 
 	display: block; 
 	position: absolute;
 	left: -9px; 
 	line-height:27px;    
 	top:0px; 
 	height: 27px; 
 }