@CHARSET "UTF-8";

body{
	background-image: url("/projectManager/resources/img/login_bg.jpg") !important;
	background-repeat: no-repeat; 
}  
  
.loginBox {
	margin-top: -205px;
}  

#contentsWrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -240px;
	width: 480px;
	padding: 15px;
	background: #fff;
	border-radius: 5px;
}

.joinBox{
	margin-top: -191px;
}


/*회원가입 페이지 : content-box*/

.profileBox{
	margin-top: -301px; 
	display: block;
}
.workspaceBox{
	margin-top: -165px;
	display: none;
}
   
.inviteBox{
	margin-top: -155px;
	display: none;
}

.row {
	width: 90%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 15px;
}
.txtCenter{
	text-align: center;
}
.txt_Btn{
	display:inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #0097A7;
}   

#bar {
	height: 16px;
}

#bar span {
	float: left;
}

.bar {
	display: block;
	width: 40%;
	height: 16px;
}  

.bar i {
	display: block;
	width: 100%;
	height: 1px;
	background: #e0e0e0;
	margin-top: 7.5px;
}

#bar .txt {
	display: block;
	width: 20%;
	font-size: 12px;
	text-align: center;
}

.input {
	display: block;
	border: 1px solid #ddd;
	border-radius: 5px;
	height: 42px;
	padding: 3.5px 10px;
	width: 90%;
	box-sizing: border-box;
	font-size: 14px;
	margin: 0 auto;
	margin-bottom: 15px;
}
  
.half {
	width: 45% !important;
	margin: 0 !important; 
	margin-right: 10% !important;
	float: left !important;
}
 
.full{
	width: 100%;
	margin: 0;
	float: left;
	margin-top: 10px; 
}  
/* .row> .full:nth-child(2){
	margin-top: 0px;
}  */
.row> .full:FIRST-CHILD{
	margin-top: 0px;
}
.half:nth-child(2n) {
	margin-right: 0 !important;
}

.sTit {
	display:block;
	font-size: 13px;
	font-weight: 500;
	color: #0097A7;
	margin-bottom: 4px; 
}  


.btn {
	display: block;
	border: none;
	border-radius: 5px;
	height: 42px !important;
	width: 90%;
	text-decoration: none;
	color: #fff;
	background-color: #00BCD4;
	text-align: center;
	line-height: 42px;
	font-size: 14px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.btn:HOVER {
	background: #00ACC1;
}

.link_a {
	color: #0097A7;
	font-weight: bold;
	font-size: 14px;
}

#linkGroup .link_a:FIRST-CHILD {
	float: left;
}

#linkGroup .link_a:LAST-CHILD {
	float: right;
}

#content_innerBox {
	margin: 0 auto;
	width: 390px;
	overflow: hidden;
}

/* 프로필 - 이미지 */
#photoBox{
	display:block;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-bottom:15px;
	text-align: center; 
	position: relative; 
	overflow: hidden;
	cursor: pointer;
} 
#photo{
	width: 120px !important;
	height: 120px !important;
	position:absolute; 
	top: 0;
	left: 0;
}
#photoBox span{
	display:block;
	width: 120px !important;
	height: 30px !important;
	background-color:rgba(0,0,0,0.3); 
	position:absolute; 
	color:#fff;
	bottom: 0;
	left: 0;
	font-size: 14px; 
	line-height: 30px; 
}

/*초대*/
#inviteEmailBox{ 
	display:none; 
	border:1px solid #EEEEEE;	
	padding-top:15px;
	height: 270px;
}  
#inviteInputWrap{
	height: 198px;	
	overflow: auto;
}
.invite_item{
	overflow: hidden;
	position: relative;
}
.delBtn{
	display:block;
	width: 25px; 
	height: 42px;  
	color: #ddd;  
	position:absolute; 
	right: 0;
	top:10px; 
	line-height: 42px; 
}