@CHARSET "UTF-8"; 
.contentBox {
	max-width: 1180px;
	margin: 0 auto;
}

/*타이틀*/
.sub_tit {
	font-size: 30px;
	font-weight: bold;
	color: #444;
	margin-bottom: 30px;
}

.contentBox a {
	color: #757575;
}

.contentBox a:HOVER {
	text-decoration: none !important;
}

.pjToggleBtn {  
	width: 100%;
	height: 35px;
}

.pjToggleBtn a {
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	font-size: 15px;
	line-height: 35px;
	box-sizing: border-box;
	font-weight: bold;
}

.pjToggleBtn a:hover {
	background: #E0E0E0;
}

.pjList {
	width: 100%;
	margin-top: 10px; 
	overflow: hidden;
}

.pj_item {
	width: 206px;
	height: 150px;
	padding: 10px;
	margin: 10px 5px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	box-sizing: unset;
	font-size: 13px;
	font-weight: 500;
	word-spacing: -1px;
	color: #9E9E9E;
	float: left;
	cursor: pointer;
}

.pj_item .pj_item_header {
	color: #616161;
	font-weight: bold;
	height: 90px;
	position: relative;
}

.pj_item_setting {
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 20;
}

.pj_item_setting a {
	display: block;
	color: #BDBDBD;
	padding: 9.5px 12px;
	border: 1px solid #E0E0E0;
	border-right: 0px;
	border-top: 0px;
}

.pj_item_setting a:hover {
	color: #757575;
}

.pj_item_state {
	display: inline-block;
	padding: 2px 10px;
	border: 1px dashed #E0E0E0;
	margin-bottom: 10px;
	font-size: 12px;
}

.pj_item_progress .pj_item_taskState {
	margin-bottom: 3px;
	overflow: hidden;
}

.pj_item_taskState .percent {
	float: left;
}

.pj_item_taskState .taskCnt {
	float: right;
}

.pj_item_progress .percentbar {
	height: 6px;
	width: 100%;
	border-radius: 3px;
	background: #E0E0E0;
	overflow: hidden;
}

.progressBar {
	height: 100%;
	width: 0%;
	background: #337ab7;
}
/*모달 */
#addProjectModal a {
	text-decoration: none !important;
	color: #fff;
}

#addProjectModal  a:hover {
	text-decoration: none !important;
	color: #fff;
}

#addProjectBtn p {
	font-size: 16px;
	text-align: center;
	line-height: 150px;
	font-weight: bold;
}

#addProjectBtn:HOVER {
	background-color: #00BCD4;
	color: #fff;
}

#addMemberWrap { 
	min-height: 50px; 
}

#addMemberWrap .btnCtm {
	float: left;
	width: 25px;
	height: 25px !important;
	margin: 0px;
	line-height: 25px; 
}

#addProjectModal .modalWrap {
	width: 648px; 
	height: 469.5px;
	overflow: hidden; 
}  

.boxWrap {
	height: 469.5px;
	width: 1296px;
}

.boxInnerWrap {
	width: 648px;
	height: 469.5px;
	float: left;
}

/*모달 프로젝트 템플릭 선택 css*/
.modal_btn_wrap{
	position: relative; 
	margin-top: 57px  !important; 
}   
#addPjPrevBtn{
	position: absolute;
	left:0px;
	top:11px; 
	color:#00BCD4 !important; 
}  
.choose_box{
	width: 20%;
	float: left; 
	text-align: center;
}
.choose_box:hover .choose_img_box{
	border: 2px solid #00BCD4;
	background: #EEEEEE; 
} 
.selected{
	border: 2px solid #00BCD4 !important; 
}
.choose_img_box{
	padding:10px;
	border: 2px solid #ddd;
	display: inline-block;
	margin-bottom: 10px;
}  
.choose_img_box img{
	width: 30px;
	height: 30px;
} 
/* 모달 공개 여부 */
.visibilityWrap {
	overflow: hidden;
}
 
.visi_radio {
	margin: 5px !important;
	width: 15px;
	height: 15px;
	float: left;
}

.radioWrap { 
	width: 49%;
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

.radioWrap:FIRST-CHILD {
	margin-right: 2%;
}

.radioWrap:hover {
	background: #eee;
}

.txtWrap {
	float: left;
	color: #333;
}

.txtWrap span:FIRST-CHILD {
	font-weight: bold;
}

.txtWrap span:Last-CHILD {
	font-size: 12px;
	color: #9e9e9e;
}

/*모달 멤버 추가*/
.addMemberBox {
	float: left;
	min-height: 25px;
	min-width: 142px;
	max-width: 550px;
	text-align: center;
	line-height: 25px; 
}

.addMemberBox .addMem_item {
	float: left;
	padding: 0px 5px 0px 0px;
	border-radius: 12.5px;
	background: #E0E0E0;
	margin-left: 5px; 
	margin-bottom: 5px;
	color: #333;
}

.addMemberBox .addMem_item .delMem {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 2.5px;
	line-height: 20px;
	border-radius: 20px;
	color: #333 !important;
	text-align: center;
}

.addMemberBox .addMem_item .delMem:hover {
	background-color: #E0E0E0;
}


/*드롭 다운 메뉴*/
.mem_add_btn {
	position: relative;
	float: left;
}

.dropTit {
	float: left;
}

.closeDropDownBtn {
	display: block !important;
	width: 25px !important;
	height: 25px !important;
	line-height: 25px !important;
	margin: 0px !important;
	padding: 0px !important;
	float: right;
	font-size: 15px;
	text-align: center;
}

.dropdown_menu_setting {
	width: 350px;
	display: none;
	position: absolute;
	background: #fff;
	list-style: none;
	border-radius: 0px 0px 5px 5px;
	padding: 0px;
	margin: 0px;
	z-index: 999;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.176);
}

/*프로젝트 생성 드롭매뉴 위치*/ 
#newProject_drop_menu{
	top: 395px; 
	left: 45px; 
}


.dropdown_menu_setting>li {
	padding: 10px;
	margin: 0px;
	border-bottom: 1px solid;
	min-width: 155px;
	border-color: #E0E0E0;
	min-height: 20px;
	overflow: hidden;
}
.dropdown_menu_setting img.pic,.addMemberBox img.pic{
	border-radius:50%;
	margin-right: 5px;  
} 
.dropdown_menu_setting>li>a {
	color: #757575 !important; 
	font-size: 12px;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
}
 
.memList {
	padding: 0px;
	height: 185px;
	overflow: auto; 
	list-style: none;
}
  
.memList a {
	display: block;
	width: 100%;
	padding: 10px 0px;
	color: #333 !important;
	line-height: 25px;
} 

.memList a:hover {
	border-radius: 3px;
	color: #333;
	background: #E0E0E0;
}
 
.mem_li {
	overflow: hidden;
}

.mem_li span {
	float: right !important;
	margin-right: 10px;
	display: none;
}

/*세팅메뉴 css*/
.sideSetting{
	width: 575px;
	height: 100%;
	background: #eee; 	
	position: absolute; 
	right:0px; 
	top:0px; 
	z-index: 999;  
	box-shadow: 0px 0px 10px gray;    
}

.sideSettingClose{
	position: absolute;
	width: 30px;
	height:48px;
	background: #fff; 	 
	top:0px;
	left: -30px;  
	border-radius:4px 0px 0px 4px;
	color:#bbb;   
} 
.sideSettingClose span{
	margin-top: 16px;
	margin-left: 8px;
}
.settingHeader{ 
	background: #fff; 
	border-bottom: 1px solid #ddd; 
	overflow: hidden;
} 
 
.set_title{
	margin:20px;
	margin-bottom:0px;  
	position: relative;
}
.inputText{
	position: relative; 
}
.inputText p{
	color:#9E9E9E;   
}
.inputText input[type='text']{ 
	width: 100%;
	border: none; 
	font-weight: bold; 
	min-height:23px;  
	color:#757575; 
	background:rgba(0,0,0,0); 
	font-size:15px; 
}  
.set_title input[type='text']:hover{
	background-color: #eee !important;  
	border-radius:3px;     
}    
.inputText input[type='text']:hover{
	background-color: #ddd;  
	border-radius:3px;   
}   
.inputText input[type='text']:hover+span{
	display: block; 	
}
.inputText span{
	position: absolute !important; 
	top:4px;  
	right: 10px;  
	color:#757575;  
	display: none;
} 
.toggleWrap{
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden; 
}  
.toggleWrap li{
	float: left; 
	width: 50%; 
}
.toggleWrap li a{
	display: block;
	width: 100%; 
	height: 40px; 
	text-align: center;  
	line-height: 40px;
	margin-top:20px; 
	color:#696f7a;
	font-size: 14px;  
	text-decoration: none !important; 
	box-sizing:border-box;  
}  
  
.toggleWrap li a:HOVER {
	text-decoration: none !important;
} 
  
.toggleWrap .selectSetting{ 
	border-bottom: 2px solid #337ab7; 
}
/*세팅 바디*/
.settingBody{
	position: relative;
	width:100%;   
	overflow: hidden;  
}
.settingBlock{
	margin: 20px 20px 10px 20px;
	padding-bottom: 20px; 
	border-bottom: 1px solid #ddd;  
	overflow: hidden; 
	min-height:32px; 
	line-height:32px;
}   
.settingBlock p{
	color:#616161;  
	display: inline-block;  
	margin: 0px; 
}
.settingBlock > p{
	margin-top: 10px;   
}
.settingBlock .inputText input[type='text']{
	font-weight: normal; 
	font-size: 14px;  
}
.left_block_tit,.right_block_con{
	float:left;
	display: inline-block;
} 

.left_block_tit{
	width: 27%;
}  
.right_block_con{ 
	width:73%; 
} 
.settingInnerBox{  
	overflow: hidden; 
	margin-bottom: 15px;  
}
.settingInnerBox:last-child{
	margin-bottom: 0px; 
}
/*세팅 버튼*/
.setting_btn{
	border: 0px;  
	margin-top:1px !important; 
	height:30px; 
	min-width:30px;
	text-align:center; 
	line-height:30px  !important;
	background-color: #E0E0E0;    
	border-radius:4px  !important; 
	color:#696f7a;   
	float: left; 
}   
.setting_btn:hover{ 
	background-color: #00BCD4;   
	color: #fff;  
} 
/*세팅 addMember*/ 
.settingBlock .addMemberBox{
	margin-top:2.5px; 
	margin-bottom: 2.5px !important;
	width: 90%;  
} 

/*세팅 드롭다운 메뉴*/
#setting_drop_menu_admin{
	top:415px;    
	left:27.8%;  
} 

#setting_drop_menu_member{
	top:495px;    
	left:27.8%;  
} 
/*데이트피커*/  
.settingInnerBox .date input{
	width: 100px;
	height: 30px;   
	float: left;  
	background-color: #E0E0E0;
	margin-top:1px !important;   
	padding-left:10px;   
	border: none;    
	border-radius:4px 0px 0px  4px; 
	display: none; 
}   
.settingInnerBox .date:HOVER input,
.settingInnerBox .date:HOVER .setting_btn{    
	background-color: #00BCD4;    
	color: #fff;   
}   
         
.settingInnerBox .date .setting_btn{
	line-height:0px  !important;  
} 
.settingInnerBox .date .insertDate{  
	line-height:0px  !important; 
	border-radius: 0px 4px 4px 0px !important; 
}    

/*세팅 스위치 버튼*/
.setting_switch_btn{
	width: 70px; 
	height: 25px; 
	border:0px; 
	border-radius:12.5px;   
	padding:0px  2px;    
	position: relative;     
	background: #008394; 	   
}     
.on-label{  
	position: absolute;
	left: 5px; 
	top: 0px;  
	width: 25px;
	height: 25px; 
	line-height: 25px;
	text-align: center; 
	font-weight: bold;
	color: #fff;
	display: none;   
}  
.off-label{
	position: absolute;
	right: 5px; 
	top: 0px;   
	width: 25px;  
	height: 25px; 
	line-height: 25px; 
	text-align: center;  
	font-weight: bold;
	color: #fff; 
}
.setting_switch_btn .handler{ 
	width: 20px; 
	height: 20px;      
	border-radius:50%; 
	background: #fff; 
	float: left;   
}
.on_switch{ 
	background-color: #00BCD4;    
}
/*셀렉트 버튼*/
.custom_select_btn{  
	min-width: 135px; 
	padding: 5px 10px; 
	background: #fff; 
	border: 1px solid #ccc;   
	border-radius:4px; 
	color:#696f7a; 
}  
.custom_select_btn span:FIRST-CHILD{ 
	min-width: 89px;  
	margin-right: 10px;  
}     
.custom_select_btn span:last-child{
	margin-top:-1px; 
} 
.custom_select_btn span{
	float: left;  
	line-height: 20px;
	text-align: left; 
}  
/*셀렉트 폼*/
.custom_select{
	position: absolute;
	padding: 0px;
	margin: 0px;  
	list-style: none; 
	background: #fff; 
	overflow: hidden;    
	border-radius:4px; 
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
	display: none;
	color:#696f7a;  
}    
#selectStated{     
	left: 161px;      
}   
#select_project_authority{
	left: 160px;    
}  
.custom_select li{
	min-width:135px; 
	padding: 10px; 
	margin: 0px; 
	cursor: pointer; 
	color:#
}     
.settingContent{
	overflow: auto; 
	height: 761px; 
}
.color_pic{
	display: inline-block; 
	float:right; 
	width: 7px; 
	height: 7px;  
	margin-top:6.5px;   
	border-radius:50%; 
	margin-right:10px; 
}
.state_color_planed{
	background-color: #ffb024 !important;
}
.state_color_proceeding{
	background-color: #62c276 !important;
}
.state_color_completed{
	background-color: #27b6ba !important;
} 
.custom_select li:HOVER{   
	background: #eee;  
}