<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.JobAssignmentMapper">
	<sql id="selectSql">
		select * from jobassignment
	</sql>

	<sql id="whereSql">
		where pno = #{pno}
	</sql>

	<sql id="whereSqlTaskNo">
		where taskno = #{taskno}
	</sql>
	
	<sql id="whereSqlSelectOne">
		where pno = #{pno}
		and mno = #{mno}
		and taskno = #{taskno}
	</sql>
	
	
	<select id="selectOne" resultType="JobAssignmentVO">
		<include refid="selectSql" />
		<include refid="whereSqlSelectOne" />
	</select>

	<select id="selectTaskNo" resultType="JobAssignmentVO">
		<include refid="selectSql" />
		<include refid="whereSqlTaskNo" />
	</select>

	<select id="selectList" resultType="JobAssignmentVO">
		<include refid="selectSql" />
	</select>

	<insert id="insert">
		insert into jobassignment
		(pno,mno,taskno)
		values(#{pno},#{mno},#{taskno})
	</insert>
 
	<delete id="delete">
		delete from jobassignment
		<include refid="whereSqlSelectOne" />
	</delete>
 
	<update id="update">
		update jobassignment set
		taskno=#{taskno},
		<include refid="whereSqlSelectOne" />
	</update>

</mapper>