<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.MemberMapper">
	<sql id="selectSql">
		select * from member
	</sql>
	
	<sql id="whereSql">
		where mno = #{mno}
	</sql>
	
	<select id="select" resultType="MemberVO">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="selectList" resultType="MemberVO">
		<include refid="selectSql" />
	</select>
	
	<insert id="insert">
		insert into member
		(uno,wno,memGrade)
		values(#{uno},#{wno},#{memGrade})
	</insert>

	<delete id="delete">
	    delete from member
		<include refid="whereSql" />
	</delete>
	
	<update id="update">	    
	    update member set    
	    memGrade = #{memGrade}
		<include refid="whereSql" />
	</update>
</mapper>