<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.TaskMapper">
	<sql id="selectSql">
		select * from task
	</sql>
	
	<sql id="whereSql">
		where taskno = #{taskno}
	</sql>
	
	<sql id="whereSqlTasklist">
		where tlno = #{tlno}
	</sql>
	
	<select id="selectOne" resultType="TaskVO">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="selectWithTlno" resultType="TaskVO">
		<include refid="selectSql" />
		<include refid="whereSqlTasklist" />
	</select>  
	
	<select id="selectList" resultType="TaskVO">
		<include refid="selectSql" /> 
	</select>
	
	<select id="selectListByPno" resultType="TaskVO">  
		select * from task
		where task.tlno in (select tasklist.tlno from tasklist where pno = #{pno})  
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="taskno">
		insert into task
		(tlno,explanation,regDate,taskname,writer,startDate,endDate,colorLabel,cycle)
		values(#{tlno},#{explanation},now(),#{taskname},#{writer},#{startDate},#{endDate},#{colorLabel},#{cycle})
	</insert>    
    
	<delete id="delete">
	    delete from task
		<include refid="whereSql" />
	</delete>  
	  
	<delete id="deleteByTlno"> 
	   delete from task where tlno = #{tlno};
	</delete>  
	
	<update id="update">	    
	    update task set
	    tlno = #{tlno},
	    explanation = #{explanation},
	    taskname = #{taskname},
	    startDate = #{startDate},
	    endDate = #{endDate},
	    workingtime = #{workingtime},  
	    finishDate = #{finishDate},
	    status = #{status},
	    colorLabel = #{colorLabel},
	    cycle = #{cycle}
		<include refid="whereSql" />
	</update>
	
</mapper>