<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.TasklistMapper">
	<sql id="selectSql">
		select * from tasklist
	</sql>
	
	<sql id="whereSql">
		where tlno = #{tlno}
	</sql> 
	
	<select id="selectOne" resultType="TaskListVO">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	          
	<select id="selectList" resultType="TaskListVO">
		<include refid="selectSql" />
		where pno = #{pno}   
		order by list_order asc
	</select>  
	
	<select id="countTaskAllByPno" resultType="int">  
		select count(pno)  
		from tasklist join task
		on tasklist.tlno = task.tlno
		where pno = #{pno};
	</select>
	
	<select id="countTaskFinishByPno" resultType="int">
		select count(pno) 
		from tasklist join task
		on tasklist.tlno = task.tlno  
		where pno = #{pno} and status = 1;
	</select> 
	 
	<insert id="insert" useGeneratedKeys="true" keyProperty="tlno">
		insert into tasklist
		(pno,name,list_order)
		values(#{pno},#{name},#{list_order})
	</insert>
	
	<delete id="delete">
	    delete from tasklist
		<include refid="whereSql" />
	</delete>
	
	<update id="update">	    
	    update tasklist set
	    pno = #{pno},
	  	name = #{name}
		<include refid="whereSql" />
	</update>
	
	<update id="changeOrder">	       
	    update tasklist set
	  	list_order = #{list_order}
		<include refid="whereSql" />
	</update>
</mapper>